@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* header font */
  @font-face {
    font-family: 'Bebas Neue Regular';
    src: url('./assets/fonts/bebas_neue/BebasNeue-Regular.woff') format('woff');
    src: url('./assets/fonts/bebas_neue/BebasNeue-Regular.woff2')
      format('woff2');
    src: url('./assets/fonts/bebas_neue/BebasNeue-Regular.ttf')
      format('truetype');
    src: url('./assets/fonts/bebas_neue/BebasNeue-Regular.otf')
      format('opentype');
  }

  /* body font */
  @font-face {
    font-family: 'Quicksand Regular';
    src: url('./assets/fonts/quicksand/Quicksand-Regular.ttf')
      format('truetype');
  }

  @font-face {
    font-family: 'Quicksand Light';
    src: url('./assets/fonts/quicksand/Quicksand_Light.otf') format('opentype');
  }
}

body {
  /* background-color: black; */
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
}

#root {
  overflow: hidden;
}

/* In your CSS file or Tailwind config */
.scroll-container {
  scroll-snap-type: y mandatory;
  overflow-y: auto;
}

/* Adjust styles of child elements as needed */
.scroll-container > * {
  scroll-snap-align: start; /* or center, end, etc. */
}

/* NOT WORKING FIGURE OUT LATER */

h1 {
  font-family: 'Bebas Neue Regular', sans-serif;
  letter-spacing: 2px;
  font-size: 28px;
}

h2 {
  font-family: 'Bebas Neue Regular', sans-serif;
  letter-spacing: 2px;
  font-size: 28px;
}

p {
  font-family: 'Quicksand', sans-serif;
  /* font-size: 16px; */
}

/* Style placeholder text when input field has an error */
input::placeholder {
  color: #999; /* Default placeholder text color */
}

input:focus::placeholder {
  color: #333; /* Placeholder text color when input field is focused */
}

input.error::placeholder {
  color: red; /* Placeholder text color when input field has an error */
}

.border-red-500 {
  border-color: #ef4444; /* or any desired shade of red */
}

.text-red-900 {
  color: #991b1b; /* or any desired shade of red */
}

/* Assuming these are your Swiper navigation and pagination styles */
.swiper-button-next,
.swiper-button-prev {
  /* Change navigation arrow color to white */
  color: white !important;
}

.swiper-pagination-bullet {
  /* Change pagination bullet color to white */
  background-color: white !important;
}

/* Additional styling for pagination if needed */
.swiper-pagination {
  /* Center pagination */
  text-align: center;
  /* Change pagination position */
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  /* Change pagination color */
  color: white;
}

.swiper-pagination-clickable .swiper-pagination-bullet-active {
  /* Change active pagination bullet color */
  background-color: white;
}
